@import url('https://fonts.googleapis.com/css2?family=Croissant+One&family=Delius+Swash+Caps&family=Faustina&family=Hanuman&family=Inria+Sans&family=La+Belle+Aurore&family=Marmelad&family=Outfit&family=Playfair+Display&family=Sansita+Swashed&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    *{
        scroll-behavior: smooth;
    }
    .crop-pic{
        clip-path: polygon(44% 0, 100% 0, 100% 100%, 5% 100%);
    }
    @media screen and (max-width:1280px) {
        .home{
            background-image: url('/media/bg2.jpg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }
    }
    nav h3, .icon h3{
        font-family: 'La Belle Aurore', cursive;
    }
    .men::before , .hom::before{
        content:"";
        position: absolute;
        bottom: 30px;
        height: 4px;
        width: 0;
        background-color: #33C10F;
        border-radius: 50px;
        transition: width .3s ease;
    }
    .men:hover::before , .hom:hover::before{
        width: 8%;
    }
    .top-con{
        font-weight: bold;
        color: #33C10F;
        text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.259);
    }
    .line{
       background: #33C10F;
       width: 192px;
    }
    .mid-con{
        font-family: 'Marmelad', sans-serif;
        text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.259);
    }
    .mid-con span{
        color: #33C10F;
    }
    .contact-btn{
        background: #33C10F;
        font-family: 'Faustina', serif;
        color: white;
        box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.604);
    }
    .menu{
        background-image: url('/media/abstract-textured-backgound.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .item{
        font-family: 'Outfit', sans-serif;
    }
    .men-head, .food-cat{
        font-family:  'Delius Swash Caps', cursive;
    }
    .food-cat{
        color: #33C10F;
    }
    .item{
        display: flex;
        justify-content: space-between;
        padding-left: 32px;
        padding-right: 32px;
        font-size: 18px;
    }
    @media screen and (max-width:559px) {
        .item{
            font-size: 13px;
        }
    }
    hr{
        width: 80%;
    }
    .contact{
        background-image: url('/media/Screenshot\ 2023-08-23\ 161806.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    .contact-head{
        font-family: 'Croissant One', cursive;
    }
    .right-cont p{
        font-family: 'Sansita Swashed', cursive;
    }
    .mid-cont h3{
        font-family: 'Hanuman', serif;
    }
}